https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [38]:
# Dependencies

import matplotlib.pyplot as plt
%matplotlib inline
#from census import Census
#from config import (census_key, gkey)
#import gmaps
import numpy as np
import pandas as pd
import requests
import time
#from us import states
#from pprint import pprint
import geopandas

# Census API Key
#c = Census(census_key, year=2013)
lat = 45.034722
lng = -92.775278
#
url = f"https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x={lng}&y={lat}&benchmark=9&vintage=910&format=json"
#
file = 'Resources/TRI_MN.csv'

In [39]:
print(url)

https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [40]:
response = requests.get(url).json()
#pprint(response)

In [41]:
pprint(response['result']['geographies']['Census Blocks'][0]['GEOID'])

Pretty printing has been turned OFF

In [42]:
pprint(response['result']['geographies']['Census Tracts'][0]['GEOID'])

Pretty printing has been turned ON

In [43]:
tri_df = pd.read_csv(file)

tri_lat = []
tri_lng = []
tri_lat = tri_df['/tri_facility/FAC_LATITUDE']
tri_lng = tri_df['/tri_facility/FAC_LONGITUDE']
tri_name = tri_df['/tri_facility/FACILITY_NAME']

In [44]:
tri_df.columns

Index(['Unnamed: 0', '/@Count', '/@Count/#agg', '/@Rows',
       '/tri_facility/ASGN_AGENCY', '/tri_facility/ASGN_FEDERAL_IND',
       '/tri_facility/ASGN_PARTIAL_IND', '/tri_facility/ASGN_PARTIAL_IND/#agg',
       '/tri_facility/ASGN_PUBLIC_CONTACT',
       '/tri_facility/ASGN_PUBLIC_CONTACT_EMAIL',
       '/tri_facility/ASGN_PUBLIC_PHONE',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT/#agg', '/tri_facility/BIA_CODE',
       '/tri_facility/CITY_NAME', '/tri_facility/COUNTY_NAME',
       '/tri_facility/FAC_CLOSED_IND', '/tri_facility/FAC_CLOSED_IND/#agg',
       '/tri_facility/FAC_LATITUDE', '/tri_facility/FAC_LATITUDE/#agg',
       '/tri_facility/FAC_LONGITUDE', '/tri_facility/FAC_LONGITUDE/#agg',
       '/tri_facility/FACILITY_NAME', '/tri_facility/FRS_ID',
       '/tri_facility/MAIL_CITY', '/tri_facility/MAIL_COUNTRY',
       '/tri_facility/MAIL_NAME', '/tri_facility/MAIL_PROVINCE',
       '/tri_facility/MAIL_STATE_ABBR', '/tri_facility/MAIL_STREET_ADDRESS',
       '/tri_facility/MAIL_ZIP_CODE', '/tri_facility/PARENT_CO_DB_NUM',
       '/tri_facility/PARENT_CO_NAME', '/tri_facility/PREF_ACCURACY',
       '/tri_facility/PREF_ACCURACY/#agg', '/tri_facility/PREF_COLLECT_METH',
       '/tri_facility/PREF_DESC_CATEGORY',
       '/tri_facility/PREF_HORIZONTAL_DATUM', '/tri_facility/PREF_LATITUDE',
       '/tri_facility/PREF_LATITUDE/#agg', '/tri_facility/PREF_LONGITUDE',
       '/tri_facility/PREF_LONGITUDE/#agg', '/tri_facility/PREF_QA_CODE',
       '/tri_facility/PREF_QA_CODE/#agg', '/tri_facility/PREF_SOURCE_SCALE',
       '/tri_facility/REGION', '/tri_facility/REGION/#agg',
       '/tri_facility/STANDARDIZED_PARENT_COMPANY', '/tri_facility/STATE_ABBR',
       '/tri_facility/STATE_COUNTY_FIPS_CODE',
       '/tri_facility/STATE_COUNTY_FIPS_CODE/#agg',
       '/tri_facility/STREET_ADDRESS', '/tri_facility/TRI_FACILITY_ID',
       '/tri_facility/ZIP_CODE', '/tri_facility/ZIP_CODE/#agg'],
      dtype='object')

In [45]:
#tri_df = tri_df.rename(columns={'/tri_facility/ASGN_AGENCY': 'Agency'})

In [46]:
tri_df = tri_df.drop(columns=['Unnamed: 0', '/@Count', '/@Count/#agg', '/@Rows',
       '/tri_facility/ASGN_AGENCY', '/tri_facility/ASGN_FEDERAL_IND',
       '/tri_facility/ASGN_PARTIAL_IND', '/tri_facility/ASGN_PARTIAL_IND/#agg',
       '/tri_facility/ASGN_PUBLIC_CONTACT',
       '/tri_facility/ASGN_PUBLIC_CONTACT_EMAIL',
       '/tri_facility/ASGN_PUBLIC_PHONE',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT/#agg', '/tri_facility/BIA_CODE','/tri_facility/FAC_CLOSED_IND', '/tri_facility/FAC_CLOSED_IND/#agg',
               '/tri_facility/PREF_ACCURACY/#agg', '/tri_facility/PREF_COLLECT_METH',
       '/tri_facility/PREF_DESC_CATEGORY',
       '/tri_facility/PREF_HORIZONTAL_DATUM', '/tri_facility/PREF_LATITUDE',
       '/tri_facility/PREF_LATITUDE/#agg', '/tri_facility/PREF_LONGITUDE',
       '/tri_facility/PREF_LONGITUDE/#agg', '/tri_facility/PREF_QA_CODE',
       '/tri_facility/PREF_QA_CODE/#agg', '/tri_facility/PREF_SOURCE_SCALE',
                             '/tri_facility/MAIL_CITY', '/tri_facility/MAIL_COUNTRY',
       '/tri_facility/MAIL_NAME', '/tri_facility/MAIL_PROVINCE',
       '/tri_facility/MAIL_STATE_ABBR', '/tri_facility/MAIL_STREET_ADDRESS',
       '/tri_facility/MAIL_ZIP_CODE', '/tri_facility/PARENT_CO_DB_NUM',
       '/tri_facility/PARENT_CO_NAME', '/tri_facility/PREF_ACCURACY',
                             '/tri_facility/ZIP_CODE/#agg',
                              '/tri_facility/STATE_COUNTY_FIPS_CODE',
       '/tri_facility/STATE_COUNTY_FIPS_CODE/#agg',
                              '/tri_facility/REGION', '/tri_facility/REGION/#agg',
                              '/tri_facility/FRS_ID',
                              '/tri_facility/FAC_LATITUDE/#agg',
                              '/tri_facility/FAC_LONGITUDE/#agg',
                             ])

In [47]:
tri_df.columns

Index(['/tri_facility/CITY_NAME', '/tri_facility/COUNTY_NAME',
       '/tri_facility/FAC_LATITUDE', '/tri_facility/FAC_LONGITUDE',
       '/tri_facility/FACILITY_NAME',
       '/tri_facility/STANDARDIZED_PARENT_COMPANY', '/tri_facility/STATE_ABBR',
       '/tri_facility/STREET_ADDRESS', '/tri_facility/TRI_FACILITY_ID',
       '/tri_facility/ZIP_CODE'],
      dtype='object')

In [48]:
tri_df = tri_df.rename(columns={'/tri_facility/CITY_NAME': 'City', '/tri_facility/COUNTY_NAME': 'County',
       '/tri_facility/FAC_LATITUDE':'Latitude', '/tri_facility/FAC_LONGITUDE':'Longitude',
       '/tri_facility/FACILITY_NAME':'Facility',
       '/tri_facility/STANDARDIZED_PARENT_COMPANY': 'Company', '/tri_facility/STATE_ABBR':'State',
       '/tri_facility/STREET_ADDRESS':'Address', '/tri_facility/TRI_FACILITY_ID':'Facility ID',
       '/tri_facility/ZIP_CODE':'Zip'})

In [49]:
tri_df.head()

,City,County,Latitude,Longitude,Facility,Company,State,Address,Facility ID,Zip
0,SHAKOPEE,SCOTT,NaN,NaN,RECOVERY TECHNOLOGY SOLUTIONS LLC,NaN,MN,6528 COUNTY RD 101E,5337WRCVRY6528C,55379
1,BAYPORT,WASHINGTON,450205.0,924631.0,ANDERSEN CORP,ANDERSEN CORP,MN,100 4TH AVE N,55003NDRSNFOOTO,55003
2,BAYPORT,WASHINGTON,450149.0,924643.0,XCEL ENERGY A S KING GENERATING PLANT,XCEL ENERGY,MN,1103 KING RD,55003SKNGG1103K,55003
3,CAMBRIDGE,ISANTI,453407.0,931309.0,CAMBRIDGE METALS and PLASTICS,WATER WORKS MANUFACTURING,MN,500 S CLEVELAND,55008CMBRD500SC,55008
4,CAMBRIDGE,ISANTI,453345.0,931312.0,CANADIAN HARVEST USA,NaN,MN,1001 S CLEVELAND ST,55008CNDNH1001S,55008

In [50]:
cols = tri_df.columns.tolist()

In [51]:
cols

['City',
 'County',
 'Latitude',
 'Longitude',
 'Facility',
 'Company',
 'State',
 'Address',
 'Facility ID',
 'Zip']

In [52]:
cols_ordered = ['Latitude',
 'Longitude','Company','Facility','Facility ID','Address','City','County','State','Zip']

In [53]:
cols_ordered

['Latitude',
 'Longitude',
 'Company',
 'Facility',
 'Facility ID',
 'Address',
 'City',
 'County',
 'State',
 'Zip']

In [54]:
tri_df = tri_df[cols_ordered]

In [55]:
tri_df.head()

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
0,NaN,NaN,NaN,RECOVERY TECHNOLOGY SOLUTIONS LLC,5337WRCVRY6528C,6528 COUNTY RD 101E,SHAKOPEE,SCOTT,MN,55379
1,450205.0,924631.0,ANDERSEN CORP,ANDERSEN CORP,55003NDRSNFOOTO,100 4TH AVE N,BAYPORT,WASHINGTON,MN,55003
2,450149.0,924643.0,XCEL ENERGY,XCEL ENERGY A S KING GENERATING PLANT,55003SKNGG1103K,1103 KING RD,BAYPORT,WASHINGTON,MN,55003
3,453407.0,931309.0,WATER WORKS MANUFACTURING,CAMBRIDGE METALS and PLASTICS,55008CMBRD500SC,500 S CLEVELAND,CAMBRIDGE,ISANTI,MN,55008
4,453345.0,931312.0,NaN,CANADIAN HARVEST USA,55008CNDNH1001S,1001 S CLEVELAND ST,CAMBRIDGE,ISANTI,MN,55008

In [56]:
tri_df['Latitude'] = tri_df['Latitude']/10000

In [57]:
tri_df['Longitude'] = tri_df['Longitude']/-10000

In [58]:
tri_df.describe(include='all')

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
count,1070.000000,1069.000000,441,1264,1264,1264,1264,1264,1264,1.264000e+03
unique,NaN,NaN,290,1181,1264,1254,281,79,1,NaN
top,NaN,NaN,CEMSTONE PRODUCTS CO,LAND O'LAKES FARMLAND FEED,5504WNRTHS2173N,15905 HWY 55,MINNEAPOLIS,HENNEPIN,MN,NaN
freq,NaN,NaN,15,5,1,2,113,281,1264,NaN
mean,43.278588,-89.048717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.086112e+07
std,10.123566,19.380456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.448569e+08
min,0.000000,-99.205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500300e+04
25%,44.383750,-93.523000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.531100e+04
50%,44.575450,-93.180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.542950e+04
75%,45.070675,-93.063000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.615300e+04
max,94.590000,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.676301e+08

In [59]:
tri_df = tri_df.dropna(subset=['Latitude','Longitude'])

In [60]:
tri_df.describe(include='all')

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
count,1069.000000,1069.000000,328,1069,1069,1069,1069,1069,1069,1.069000e+03
unique,NaN,NaN,238,999,1069,1061,244,77,1,NaN
top,NaN,NaN,HORMEL FOODS CORP,LAND O'LAKES FARMLAND FEED,55965PRCRN701IN,1730 JAMES DR,MINNEAPOLIS,HENNEPIN,MN,NaN
freq,NaN,NaN,8,5,1,2,105,254,1069,NaN
mean,43.231655,-89.048717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.623558e+07
std,10.011166,19.380456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.533159e+08
min,0.000000,-99.205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500300e+04
25%,44.383600,-93.523000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.531400e+04
50%,44.575400,-93.180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.542800e+04
75%,45.070600,-93.063000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.609800e+04
max,94.590000,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.676301e+08

In [61]:
tri_df.head()

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
1,45.0205,-92.4631,ANDERSEN CORP,ANDERSEN CORP,55003NDRSNFOOTO,100 4TH AVE N,BAYPORT,WASHINGTON,MN,55003
2,45.0149,-92.4643,XCEL ENERGY,XCEL ENERGY A S KING GENERATING PLANT,55003SKNGG1103K,1103 KING RD,BAYPORT,WASHINGTON,MN,55003
3,45.3407,-93.1309,WATER WORKS MANUFACTURING,CAMBRIDGE METALS and PLASTICS,55008CMBRD500SC,500 S CLEVELAND,CAMBRIDGE,ISANTI,MN,55008
4,45.3345,-93.1312,NaN,CANADIAN HARVEST USA,55008CNDNH1001S,1001 S CLEVELAND ST,CAMBRIDGE,ISANTI,MN,55008
6,45.3451,-93.1255,NaN,ARROW TANK and ENGINEERING CO,55008RRWTN650NO,650 N EMERSON,CAMBRIDGE,ISANTI,MN,55008

In [62]:
tri_df = tri_df[tri_df['Latitude'] != 0]
tri_df = tri_df[tri_df['Latitude'] <= 50]
tri_df = tri_df[tri_df['Latitude'] >= 42]
tri_df = tri_df[tri_df['Longitude'] != 0]
tri_df = tri_df[tri_df['Longitude'] <= -88]
tri_df = tri_df[tri_df['Longitude'] >= -98]

In [63]:
tri_df.describe(include='all')

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
count,1007.000000,1007.000000,295,1007,1007,1007,1007,1007,1007,1.007000e+03
unique,NaN,NaN,216,939,1007,999,236,77,1,NaN
top,NaN,NaN,HORMEL FOODS CORP,ASSOCIATED MILK PRODUCERS INC,55021LNDLK1612N,HWY 55 E,MINNEAPOLIS,HENNEPIN,MN,NaN
freq,NaN,NaN,6,4,1,2,100,244,1007,NaN
mean,44.856089,-93.431925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.686911e+07
std,0.855953,0.944426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.542606e+08
min,43.303000,-97.560100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500300e+04
25%,44.465600,-93.572250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.531700e+04
50%,44.582300,-93.205400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.542800e+04
75%,45.072800,-93.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.614950e+04
max,49.173000,-90.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.676301e+08

In [64]:
tri_df.to_csv('Resources/tri_df.csv')

In [52]:
#tri_df = tri_df.to_string(columns=['Latitude','Longitude'])

In [35]:
print(url)

https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [41]:
lat_from_df = tri_df['Latitude']
lng_from_df = tri_df['Longitude']

In [26]:
url1 = f"https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x="
url2 = "&y="
url3 = "&benchmark=9&vintage=910&format=json"

In [51]:
lat_from_df.astype(str)
lng_from_df.astype(str)
print('yay')

yay

In [54]:
lat_lng = zip(lat_from_df, lng_from_df)

In [56]:
print(lat_lng)

<zip object at 0x7fa8a8a2f388>

In [34]:
tri_df.head()

,Latitude,Longitude,Company,Facility,Facility ID,Address,City,County,State,Zip
1,45.0205,-92.4631,ANDERSEN CORP,ANDERSEN CORP,55003NDRSNFOOTO,100 4TH AVE N,BAYPORT,WASHINGTON,MN,55003
2,45.0149,-92.4643,XCEL ENERGY,XCEL ENERGY A S KING GENERATING PLANT,55003SKNGG1103K,1103 KING RD,BAYPORT,WASHINGTON,MN,55003
3,45.3407,-93.1309,WATER WORKS MANUFACTURING,CAMBRIDGE METALS and PLASTICS,55008CMBRD500SC,500 S CLEVELAND,CAMBRIDGE,ISANTI,MN,55008
4,45.3345,-93.1312,NaN,CANADIAN HARVEST USA,55008CNDNH1001S,1001 S CLEVELAND ST,CAMBRIDGE,ISANTI,MN,55008
6,45.3451,-93.1255,NaN,ARROW TANK and ENGINEERING CO,55008RRWTN650NO,650 N EMERSON,CAMBRIDGE,ISANTI,MN,55008