In [1]:
import pandas as pd

In [3]:
file = "Resources/MN-Fixed-Dec2017-v2.csv"

fcc_df = pd.read_csv(file)
fcc_df.describe(include="all")

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business,MaxCIRDown,MaxCIRUp
count,1.650651e+06,1.650651e+06,1.650651e+06,1650651,1650651,1650651,1.650651e+06,1650651,1650651,1.650651e+06,1.650651e+06,1.650651e+06,1.650651e+06,1.650651e+06,1.650651e+06,1.650651e+06,1.650651e+06
unique,NaN,NaN,NaN,179,175,125,NaN,122,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,"ViaSat, Inc.",ViaSat Inc,"ViaSat, Inc.",NaN,"ViaSat, Inc.",MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,259777,259777,259777,NaN,259777,1650651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.286166e+07,3.869278e+04,1.032041e+07,NaN,NaN,NaN,1.941365e+05,NaN,NaN,2.708620e+14,5.280825e+01,8.335390e-01,9.834739e+01,4.323133e+01,9.634072e-01,4.244950e+01,3.681621e+01
std,1.732930e+07,3.318981e+03,7.451503e+06,NaN,NaN,NaN,7.598527e+04,NaN,NaN,4.984106e+11,1.807860e+01,3.724940e-01,2.498066e+02,1.824517e+02,1.877600e-01,1.756284e+02,1.635246e+02
min,1.826800e+04,3.406200e+04,1.568880e+06,NaN,NaN,NaN,1.300080e+05,NaN,NaN,2.700177e+14,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.680605e+07,3.608300e+04,3.744513e+06,NaN,NaN,NaN,1.305340e+05,NaN,NaN,2.704596e+14,5.000000e+01,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,2.916679e+07,3.865000e+04,6.118814e+06,NaN,NaN,NaN,1.308040e+05,NaN,NaN,2.708595e+14,6.000000e+01,1.000000e+00,2.400000e+01,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,5.076230e+07,3.992100e+04,1.862685e+07,NaN,NaN,NaN,2.901110e+05,NaN,NaN,2.712979e+14,6.000000e+01,1.000000e+00,3.000000e+01,5.000000e+00,1.000000e+00,2.000000e+00,1.300000e+00
max,5.117496e+07,4.541000e+04,2.611475e+07,NaN,NaN,NaN,3.701460e+05,NaN,NaN,2.717397e+14,7.000000e+01,1.000000e+00,1.000000e+03,1.000000e+03,1.000000e+00,1.000000e+03,1.000000e+03

In [5]:
file_grad = "Resources/MDEExtract_District_School_07-06-2019 with Addresses.csv"

grad_df = pd.read_csv(file_grad)
grad_df.head()

,District Number,District Type,School Number,Number,Organization,Title,Name,First Name,Last Name,Phone,...,Physical Zip,County,Grades,School Classification,Eco Dev Region,NCES ID,StateOrganizationId,ACT ID,Web URL,Data Extracted
0,1,1,0,0001-01,Aitkin Public School District,Superintendent,Dr Charles Rick,Dr Charles,Rick,(218) 927-2115,...,56431-1289,Aitkin,NaN,0,3,2.702760e+06,1.000100e+10,247002.0,http://home.isd1.org/,7/6/2019
1,1,1,1,0001-01-001,Aitkin Secondary School,Principal,Paul Karelis,Paul,Karelis,(218) 927-2115,...,56431,Aitkin,7-12,33,NaN,2.702760e+11,1.000100e+10,240020.0,http://home.isd1.org,7/6/2019
2,1,1,2,0001-01-002,Rippleside Elementary,Principal,Jesse Peterson,Jesse,Peterson,(218) 927-4838,...,56431,Aitkin,EC-6,10,NaN,2.702760e+11,1.000100e+10,NaN,http://home.isd1.org,7/6/2019
3,1,1,6,0001-01-006,Aitkin Alternative Learning Program,Principal,Gary Blake,Gary,Blake,(218) 927-3421,...,56431,Aitkin,7-12,42,NaN,2.702760e+11,1.000101e+10,NaN,http://www.isd1.org,7/6/2019
4,1,1,8,0001-01-008,Aitkin ESY,Principal,Jesse Peterson,Jesse,Peterson,(218) 927-4838 x2106,...,56431,Aitkin,1-12,51,NaN,2.702760e+06,1.000101e+10,NaN,NaN,7/6/2019

In [11]:
file_grad_counts = "Resources/Copy of 2018 Graduation Indicators-1.xlsx"
gradcount_df = pd.read_excel(file_grad_counts)
#gradcount_df.head(10)

new_header = gradcount_df.iloc[3] #grab the first row for the header
gradcount2_df = gradcount_df[4:] #take the data less the header row
gradcount2_df.columns = new_header
gradcount2_df.head()

3,Data Year,District Number,District Type,District Name,Demographic Category,Demographic Description,Ending Status,Four Year Count,Four Year Total,Four Year Percent,Five Year Count,Five Year Total,Five Year Percent,Six Year Count,Six Year Total,Six Year Percent,Seven Year Count,Seven Year Total,Seven Year Percent
4,17-18,9999,99,STATEWIDE,A,All Students,Graduate,55869,67148,83.2,56851,66254,85.81,56792,65392,86.85,57612,65816,87.53
5,17-18,9999,99,STATEWIDE,A,All Students,Drop Out,3064,67148,4.56,4317,66254,6.52,4598,65392,7.03,4741,65816,7.2
6,17-18,9999,99,STATEWIDE,A,All Students,Continuing,5825,67148,8.67,2390,66254,3.61,1125,65392,1.72,47,65816,0.07
7,17-18,9999,99,STATEWIDE,A,All Students,Unknown,2390,67148,3.56,2696,66254,4.07,2877,65392,4.4,3416,65816,5.19
8,17-18,9999,99,STATEWIDE,B,American Indian/Alaskan Native Students,Graduate,590,1157,50.99,651,1148,56.71,668,1192,56.04,711,1229,57.85

In [13]:
file_super = "Resources/MN_Superfund_Sites.xlsm"
super_df = pd.read_excel(file_super)
new_header2 = super_df.iloc[9]
super_df2 = super_df[10:]
super_df2.columns = new_header2

super_df2.head(15)

9,EPA ID,Site Name,City,County,State,Street Address,Zip Code,Region,NPL Status,Partial NPL Deletion,...,Site Type,Site Type Subcategory,Federal Agency,Native American Interest,Indian Entity,HRS Score,Federal Facility Indicator,Alias/Alternative Site Name,Non-NPL Status Date,Superfund Site Profile Page URL
10,MND980904023,ADRIAN MUNICIPAL WELL FIELD,ADRIAN,NOBLES,MN,ADRIAN CITY LIMITS,56110,R05,Deleted NPL,Yes,...,Other,Ground water plume site with no identifiable s...,NaN,No,NaN,NaN,No,"ADRIAN MUNICIPAL WELL FIELD, ADRIAN MUNICIPAL ...",[Blank Date],www.epa.gov/superfund/adrian-municipal-wellfield
11,MND980898068,AGATE LAKE SCRAPYARD,FAIRVIEW TOWNSHIP,CASS,MN,WESTERN SHORE OF AGATE LAKE,56473,R05,Deleted NPL,Yes,...,Recycling,Batteries/scrap metals/secondary smelting/prec...,NaN,No,NaN,NaN,No,"AGATE LAKE SCRAP YARD, AGATE LAKE SCRAP YARD, ...",[Blank Date],www.epa.gov/superfund/agatelake-scrap-yard
12,MND980823975,ARROWHEAD REFINERY CO.,HERMANTOWN,ST. LOUIS,MN,NW CORNER HWY 53 & UGSTAD ROAD,55810,R05,Final NPL,No,...,Recycling,Waste/used oil,NaN,No,NaN,43.75,No,"ARROWHEAD REF CO, ARROWHEAD REF CO, ARROWHEAD ...",[Blank Date],www.epa.gov/superfund/arrowhead-refinery
13,MND982425209,BAYTOWN TOWNSHIP GROUND WATER PLUME,BAYTOWN TOWNSHIP,WASHINGTON,MN,35TH STREET N,55042,R05,Final NPL,No,...,Other,Ground water plume site with no identifiable s...,NaN,No,NaN,35.62,No,"BAYTOWN TOWNSHIP GROUND W, BAYTOWN TOWNSHIP GR...",1988-04-06 00:00:00,www.epa.gov/superfund/baytown-township-groundw...
14,MND053417515,"BOISE CASCADE/ONAN CORP./MEDTRONICS, INC.",FRIDLEY,ANOKA,MN,1400 73RD AVENUE NE,55432,R05,Deleted NPL,Yes,...,Manufacturing/Processing/Maintenance,Lumber and wood products/wood preserving/treat...,NaN,No,NaN,NaN,No,"BOISE CASCADE/ONAN CORP./MEDTRONICS, INC., BOI...",[Blank Date],www.epa.gov/superfund/boise-cascade-medtronics
15,MND000686196,BURLINGTON NORTHERN (BRAINERD/BAXTER PLANT),BRAINERD/BAXTER,CROW WING,MN,WEST CITY LIMITS,56401,R05,Final NPL,No,...,Manufacturing/Processing/Maintenance,Lumber and wood products/wood preserving/treat...,NaN,No,NaN,46.77,No,"BURLINGTON NORTHERN, BURLINGTON NORTHERN, BURL...",[Blank Date],www.epa.gov/superfund/burlington-northern-brai...
16,MND981191570,DAKHUE SANITARY LANDFILL,CANNON FALLS,DAKOTA,MN,260TH & HOGAN AVE,55031,R05,Deleted NPL,Yes,...,Waste Management,Co-disposal landfill (municipal and industrial),NaN,No,NaN,NaN,No,"DAKHUE SAN LDFL, DAKHUE SAN LDFL, DAKHUE SAN L...",[Blank Date],www.epa.gov/superfund/dakhue-landfill
17,MND981088180,EAST BETHEL DEMOLITION LANDFILL,EAST BETHEL TOWNSHIP,ANOKA,MN,HWY 65 AT 22 1ST AVE,55011,R05,Deleted NPL,Yes,...,Waste Management,Co-disposal landfill (municipal and industrial),NaN,No,NaN,NaN,No,"EAST BETHEL DEMOLITION LANDFILL, EAST BETHEL D...",[Blank Date],www.epa.gov/superfund/east-bethel-landfill
18,MND006481543,FMC CORP. (FRIDLEY PLANT),FRIDLEY,ANOKA,MN,4800 E RIVER RD,55421,R05,Final NPL,No,...,Manufacturing/Processing/Maintenance,Ordnance production,Department of Defense,No,NaN,65.5,No,"F M C CORP, FMC CORP, FMC CORP, FMC CORP NIROP...",1980-08-01 00:00:00,www.epa.gov/superfund/fmc-fridley-plant
19,MND038384004,FREEWAY SANITARY LANDFILL,BURNSVILLE,DAKOTA,MN,WEST 113TH STREET & I-HWY 35WEST,55337,R05,Final NPL,No,...,Waste Management,Co-disposal landfill (municipal and industrial),NaN,No,NaN,45.91,No,"FREEWAY SANITARY LANDFILL, FREEWAY SANITARY LD...",[Blank Date],www.epa.gov/superfund/freeway-sanitary-landfill
20,MND985701309,FRIDLEY COMMONS PARK WELL FIELD,FRIDLEY,ANOKA,MN,"61ST AVENUE, NE & 7TH STREET, NE",55432,R05,Final NPL,No,...,Other,Ground water plume site with no identifiable s...,NaN,No,NaN,50,No,"FRIDLEY COMMONS PARK WELL, FRIDLEY COMMONS PAR...",[Blank Date],www.epa.gov/superfund/fridley-commons-wellfield
21,MND051441731,GENERAL MILLS/HENKEL CORP.,MINNEAPOLIS,HENNEPIN,MN,2010 E HENNEPIN AVE,55414,R05,Final NPL,No,...,Other,"Research, development, and testing facility",NaN,No,NaN,36.28,No,"GENERAL MILLS/HENKEL CORP, GENERAL MILLS/HENKE...",[Blank Date],www.epa.gov/superfund/general-mills-henkel
22,MND044799856,JOSLYN MANUFACTURING & SUPPLY CO.,BROOKLYN CENTER,HENNEPIN,MN,49TH & FRANCE AVE,55422,R05,Final NPL,Yes,...,Manufacturing/Processing/Maintenance,Lumber and wood products/wood preserving/treat...,NaN,No,NaN,NaN,No,"JOSLYN MANUFACTURING & SUPPLY CO, JOSLYN MANUF...",1979-08-01 00:00:00,www.epa.gov/superfund/joslyn-manufacturing-supply
23,MND000686071,KOCH REFINING CO./N-REN CORP.,ROSEMOUNT,DAKOTA,MN,12555 US HIGHWAY 55,55068,R05,Deleted NPL,Yes,...,"Manufacturing/Processing/Maintenance, Manufact...","Chemicals and allied products, Chemicals/chemi...",NaN,No,NaN,NaN,No,"KOCH REF CO, KOCH REFINING CO./N-REN CORP., KO...",1979-08-01 00:00:00,www.epa.gov/superfund/koch-refining-corp
24,MND000819359,KOPPERS COKE,ST. PAUL,RAMSEY,MN,1000 N HAMLINE AVENUE,55104,R05,Final NPL,No,...,Manufacturing/Processing/Maintenance,Coke production,NaN,No,NaN,55.05,No,"KOPPERS CO INC, KOPPERS COKE, KOPPERS COKE, KO...",[Blank Date],www.epa.gov/superfund/koppers-coke

In [ ]:
https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [11]:
# Dependencies
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from pprint import pprint

# Census API Key
c = Census(census_key, year=2013)
lat = 45.034722
lng = 92.775278
#
url = f"https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-{lng}&y={lat}&benchmark=9&vintage=910&format=json"

In [12]:
print(url)

https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [13]:
response = requests.get(url).json()
pprint(response)

{'result': {'geographies': {'Census Blocks': [{'AREALAND': 0,
                                               'AREAWATER': 1071481,
                                               'BASENAME': '2000',
                                               'BLKGRP': '2',
                                               'BLOCK': '2000',
                                               'CENTLAT': '+45.0360200',
                                               'CENTLON': '-092.7786856',
                                               'COUNTY': '163',
                                               'FUNCSTAT': 'S',
                                               'GEOID': '271630707032000',
                                               'HU100': 0,
                                               'INTPTLAT': '+45.0360200',
                                               'INTPTLON': '-092.7786856',
                                               'LSADC': 'BK',
                                               'LWBLKTYP': 'W',
                                               'MTFCC': 'G5040',
                                               'NAME': 'Block 2000',
                                               'OBJECTID': 5169558,
                                               'OID': 210404134250589,
                                               'POP100': 0,
                                               'STATE': '27',
                                               'SUFFIX': '',
                                               'TRACT': '070703',
                                               'UR': ''}],
                            'Census Tracts': [{'status': 'Layer query '
                                                         'encountered an '
                                                         'error: '
                                                         'org.springframework.dao.DataRetrievalFailureException: '
                                                         'ArcGIS Error: '
                                                         'missing required '
                                                         'element for '
                                                         'GeoLookup'}],
                            'Counties': [{'status': 'Layer query encountered '
                                                    'an error: '
                                                    'org.springframework.dao.DataRetrievalFailureException: '
                                                    'ArcGIS Error: missing '
                                                    'required element for '
                                                    'GeoLookup'}],
                            'States': [{'AREALAND': 206232309199,
                                        'AREAWATER': 18930454637,
                                        'BASENAME': 'Minnesota',
                                        'CENTLAT': '+46.3164846',
                                        'CENTLON': '-094.1982239',
                                        'DIVISION': '4',
                                        'FUNCSTAT': 'A',
                                        'GEOID': '27',
                                        'HU100': 2347201,
                                        'INTPTLAT': '+46.3161343',
                                        'INTPTLON': '-094.1994801',
                                        'LSADC': '00',
                                        'MTFCC': 'G4000',
                                        'NAME': 'Minnesota',
                                        'OBJECTID': 45,
                                        'OID': 27490186175787,
                                        'POP100': 5303925,
                                        'REGION': '2',
                                        'STATE': '27',
                                        'STATENS': '00662849',
                                        'STUSAB': 'MN',
                                        'UR': ''}]},
            'input': {'benchmark': {'benchmarkDescription': 'Public Address '
                                                            'Ranges - Census '
                                                            '2010 Benchmark',
                                    'benchmarkName': 'Public_AR_Census2010',
                                    'id': '9',
                                    'isDefault': False},
                      'location': {'x': -92.775278, 'y': 45.034722},
                      'vintage': {'id': '910',
                                  'isDefault': True,
                                  'vintageDescription': 'Census2010 Vintage - '
                                                        'Census2010 Benchmark',
                                  'vintageName': 'Census2010_Census2010'}}}}

In [18]:
pprint(response['result']['geographies']['Census Blocks'][0]['GEOID'])

'271630707032000'