https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [1]:
# Dependencies
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from pprint import pprint

# Census API Key
c = Census(census_key, year=2013)
lat = 45.034722
lng = 92.775278
#
url = f"https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-{lng}&y={lat}&benchmark=9&vintage=910&format=json"
#
file = 'Resources/TRI_MN.csv'

In [2]:
print(url)

https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=-92.775278&y=45.034722&benchmark=9&vintage=910&format=json

In [3]:
response = requests.get(url).json()
pprint(response)

{'result': {'geographies': {'Census Blocks': [{'AREALAND': 0,
                                               'AREAWATER': 1071481,
                                               'BASENAME': '2000',
                                               'BLKGRP': '2',
                                               'BLOCK': '2000',
                                               'CENTLAT': '+45.0360200',
                                               'CENTLON': '-092.7786856',
                                               'COUNTY': '163',
                                               'FUNCSTAT': 'S',
                                               'GEOID': '271630707032000',
                                               'HU100': 0,
                                               'INTPTLAT': '+45.0360200',
                                               'INTPTLON': '-092.7786856',
                                               'LSADC': 'BK',
                                               'LWBLKTYP': 'W',
                                               'MTFCC': 'G5040',
                                               'NAME': 'Block 2000',
                                               'OBJECTID': 5169558,
                                               'OID': 210404134250589,
                                               'POP100': 0,
                                               'STATE': '27',
                                               'SUFFIX': '',
                                               'TRACT': '070703',
                                               'UR': ''}],
                            'Census Tracts': [{'status': 'Layer query '
                                                         'encountered an '
                                                         'error: '
                                                         'org.springframework.dao.DataRetrievalFailureException: '
                                                         'ArcGIS Error: '
                                                         'missing required '
                                                         'element for '
                                                         'GeoLookup'}],
                            'Counties': [{'AREALAND': 995285532,
                                          'AREAWATER': 99618899,
                                          'BASENAME': 'Washington',
                                          'CENTLAT': '+45.0383313',
                                          'CENTLON': '-092.8839558',
                                          'COUNTY': '163',
                                          'COUNTYCC': 'H1',
                                          'COUNTYNS': '00659526',
                                          'FUNCSTAT': 'A',
                                          'GEOID': '27163',
                                          'HU100': 92374,
                                          'INTPTLAT': '+45.0379290',
                                          'INTPTLON': '-092.8901170',
                                          'LSADC': '06',
                                          'MTFCC': 'G4020',
                                          'NAME': 'Washington County',
                                          'OBJECTID': 3109,
                                          'OID': 27590283618477,
                                          'POP100': 238136,
                                          'STATE': '27',
                                          'UR': ''}],
                            'States': [{'AREALAND': 206232309199,
                                        'AREAWATER': 18930454637,
                                        'BASENAME': 'Minnesota',
                                        'CENTLAT': '+46.3164846',
                                        'CENTLON': '-094.1982239',
                                        'DIVISION': '4',
                                        'FUNCSTAT': 'A',
                                        'GEOID': '27',
                                        'HU100': 2347201,
                                        'INTPTLAT': '+46.3161343',
                                        'INTPTLON': '-094.1994801',
                                        'LSADC': '00',
                                        'MTFCC': 'G4000',
                                        'NAME': 'Minnesota',
                                        'OBJECTID': 45,
                                        'OID': 27490186175787,
                                        'POP100': 5303925,
                                        'REGION': '2',
                                        'STATE': '27',
                                        'STATENS': '00662849',
                                        'STUSAB': 'MN',
                                        'UR': ''}]},
            'input': {'benchmark': {'benchmarkDescription': 'Public Address '
                                                            'Ranges - Census '
                                                            '2010 Benchmark',
                                    'benchmarkName': 'Public_AR_Census2010',
                                    'id': '9',
                                    'isDefault': False},
                      'location': {'x': -92.775278, 'y': 45.034722},
                      'vintage': {'id': '910',
                                  'isDefault': True,
                                  'vintageDescription': 'Census2010 Vintage - '
                                                        'Census2010 Benchmark',
                                  'vintageName': 'Census2010_Census2010'}}}}

In [4]:
pprint(response['result']['geographies']['Census Blocks'][0]['GEOID'])

'271630707032000'

In [5]:
tri_df = pd.read_csv(file)

tri_lat = []
tri_lng = []
tri_lat = tri_df['/tri_facility/FAC_LATITUDE']
tri_lng = tri_df['/tri_facility/FAC_LONGITUDE']

In [6]:
tri_df.columns

Index(['Unnamed: 0', '/@Count', '/@Count/#agg', '/@Rows',
       '/tri_facility/ASGN_AGENCY', '/tri_facility/ASGN_FEDERAL_IND',
       '/tri_facility/ASGN_PARTIAL_IND', '/tri_facility/ASGN_PARTIAL_IND/#agg',
       '/tri_facility/ASGN_PUBLIC_CONTACT',
       '/tri_facility/ASGN_PUBLIC_CONTACT_EMAIL',
       '/tri_facility/ASGN_PUBLIC_PHONE',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT',
       '/tri_facility/ASGN_PUBLIC_PHONE_EXT/#agg', '/tri_facility/BIA_CODE',
       '/tri_facility/CITY_NAME', '/tri_facility/COUNTY_NAME',
       '/tri_facility/FAC_CLOSED_IND', '/tri_facility/FAC_CLOSED_IND/#agg',
       '/tri_facility/FAC_LATITUDE', '/tri_facility/FAC_LATITUDE/#agg',
       '/tri_facility/FAC_LONGITUDE', '/tri_facility/FAC_LONGITUDE/#agg',
       '/tri_facility/FACILITY_NAME', '/tri_facility/FRS_ID',
       '/tri_facility/MAIL_CITY', '/tri_facility/MAIL_COUNTRY',
       '/tri_facility/MAIL_NAME', '/tri_facility/MAIL_PROVINCE',
       '/tri_facility/MAIL_STATE_ABBR', '/tri_facility/MAIL_STREET_ADDRESS',
       '/tri_facility/MAIL_ZIP_CODE', '/tri_facility/PARENT_CO_DB_NUM',
       '/tri_facility/PARENT_CO_NAME', '/tri_facility/PREF_ACCURACY',
       '/tri_facility/PREF_ACCURACY/#agg', '/tri_facility/PREF_COLLECT_METH',
       '/tri_facility/PREF_DESC_CATEGORY',
       '/tri_facility/PREF_HORIZONTAL_DATUM', '/tri_facility/PREF_LATITUDE',
       '/tri_facility/PREF_LATITUDE/#agg', '/tri_facility/PREF_LONGITUDE',
       '/tri_facility/PREF_LONGITUDE/#agg', '/tri_facility/PREF_QA_CODE',
       '/tri_facility/PREF_QA_CODE/#agg', '/tri_facility/PREF_SOURCE_SCALE',
       '/tri_facility/REGION', '/tri_facility/REGION/#agg',
       '/tri_facility/STANDARDIZED_PARENT_COMPANY', '/tri_facility/STATE_ABBR',
       '/tri_facility/STATE_COUNTY_FIPS_CODE',
       '/tri_facility/STATE_COUNTY_FIPS_CODE/#agg',
       '/tri_facility/STREET_ADDRESS', '/tri_facility/TRI_FACILITY_ID',
       '/tri_facility/ZIP_CODE', '/tri_facility/ZIP_CODE/#agg'],
      dtype='object')

In [7]:
tri_df_new = tri_df.groupby(['/tri_facility/FAC_LATITUDE', '/tri_facility/FAC_LONGITUDE', '/tri_facility/FACILITY_NAME' ])
tri_ID = tri_df_new['/tri_facility/TRI_FACILITY_ID'].count()
tri_clean = pd.DataFrame({ "TRI Facility ID" : tri_ID})

tri_clean.to_csv('Resources/triclean.csv')

In [8]:
tri_lat.head(20)

0          NaN
1     450205.0
2     450149.0
3     453407.0
4     453345.0
5          NaN
6     453451.0
7     453416.0
8     443110.0
9     443106.0
10    443114.0
11    443108.0
12         NaN
13         NaN
14    444736.0
15    444719.0
16         NaN
17    441740.0
18    441736.0
19         NaN
Name: /tri_facility/FAC_LATITUDE, dtype: float64

In [9]:
tri_lng.head(20)

0          NaN
1     924631.0
2     924643.0
3     931309.0
4     931312.0
5          NaN
6     931255.0
7     931258.0
8     925411.0
9     925413.0
10    925418.0
11    925403.0
12         NaN
13         NaN
14    925400.0
15    925415.0
16         NaN
17    931550.0
18    931736.0
19         NaN
Name: /tri_facility/FAC_LONGITUDE, dtype: float64

In [10]:
tri_ID.head()

/tri_facility/FAC_LATITUDE  /tri_facility/FAC_LONGITUDE  /tri_facility/FACILITY_NAME
0.0                         0.0                          AGGREGATE INDUSTRIES MAPLE GROVE READY MIX    1
                                                         AIRGAS SPECIALTY PRODUCTS INC S ST PAUL MN    1
                                                         AVEDA CORP                                    1
                                                         AYRSHIRE ELECTRONICS MN                       1
                                                         AZZ GALVANIZING SERVICES-WINSTED              1
Name: /tri_facility/TRI_FACILITY_ID, dtype: int64

In [12]:
tri_ID = tri_ID.rename(columns={'/tri_facility/FAC_LATITUDE': 'Latitude', '/tri_facility/FAC_LONGITUDE': 'Longitude', '/tri_facility/FACILITY_NAME': 'Facility Name' })

In [16]:
tri_ID_df = pd.DataFrame(tri_ID)

In [18]:
tri_ID_df.head()

                                                                                                   0
/tri_facility/FAC_LATITUDE /tri_facility/FAC_LONGITUDE /tri_facility/FACILITY_NAME
0.0                        0.0                         AGGREGATE INDUSTRIES MAPLE GROVE READY MIX  1
                                                       AIRGAS SPECIALTY PRODUCTS INC S ST PAUL MN  1
                                                       AVEDA CORP                                  1
                                                       AYRSHIRE ELECTRONICS MN                     1
                                                       AZZ GALVANIZING SERVICES-WINSTED            1

In [22]:
tri_ID_df = tri_ID_df.rename(index={'/tri_facility/FAC_LATITUDE': 'Latitude', '/tri_facility/FAC_LONGITUDE': 'Longitude', '/tri_facility/FACILITY_NAME': 'Facility Name' })

In [23]:
tri_ID_df.head()

                                                                                                   0
/tri_facility/FAC_LATITUDE /tri_facility/FAC_LONGITUDE /tri_facility/FACILITY_NAME
0.0                        0.0                         AGGREGATE INDUSTRIES MAPLE GROVE READY MIX  1
                                                       AIRGAS SPECIALTY PRODUCTS INC S ST PAUL MN  1
                                                       AVEDA CORP                                  1
                                                       AYRSHIRE ELECTRONICS MN                     1
                                                       AZZ GALVANIZING SERVICES-WINSTED            1