# Census call for MN Median Income.

## After fighting with the census API documentation to find the correct call code for median household income, we use the blockcodes from the FCC Broadband data to call median income by state code, county code, and tract code.

## Brian used this code to compare median income to graduation rates

(Kate Mikkelson)

In [6]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

# Import broadband_stats in order to get list of blockgroup
broadband_csv = "Resources/mn_broadband_stats.csv"
broadband_df = pd.read_csv(broadband_csv)

             BLOCK  Max Down  Mean Down
0  270017701001000      30.0      14.25
1  270017701001001      30.0      14.25
2  270017701001002      30.0      14.25
3  270017701001003      30.0      14.25
4  270017701001004      30.0      14.25

In [11]:
# Get list of blockcodes
blockgroups = broadband_df['BLOCK']

# Create empty list/variable for state and county codes
counties = []
state = ""

# Extract state and county from blocks
for code in blockgroups:
    state = str(code)[0:2]
    counties.append((str(code))[2:5])
    
#Save county codes in a sorted list
county_codes = sorted((set(counties)))

27

In [12]:
# Run loop on census api
median_income = []

for county in county_codes:
    median_income += c.acs5.state_county_tract('B19013_001E', state, county, Census.ALL)


    
# Convert to DataFrame
median_income = pd.DataFrame(median_income)
median_income.head()


# Column Renaming
median_income = median_income.rename(columns={"B19013_001E": "Median Income", "county":"County", "state":"State", "tract":"Tract"})


# Final DataFrame
median_income = median_income[["Median Income", "State", "County", "Tract"]]

median_income.head()

   Median Income State County   Tract
0        56406.0    27    001  790502
1        45846.0    27    001  770200
2        42461.0    27    001  770300
3        47366.0    27    001  770100
4        41750.0    27    001  770400

In [9]:
# Export data to csv
median_income.to_csv('Resources/MN_median_income.csv')