In [7]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

# Import broadband_stats in order to get list of blockgroup
broadband_csv = "Resources/mn_broadband_stats.csv"
broadband_df = pd.read_csv(broadband_csv)
broadband_df.head()

         BlockCode  Max Down  Mean Down  Max Up  Mean Up
0  270017701001000      30.0      14.25     3.0    1.825
1  270017701001001      30.0      14.25     3.0    1.825
2  270017701001002      30.0      14.25     3.0    1.825
3  270017701001003      30.0      14.25     3.0    1.825
4  270017701001004      30.0      14.25     3.0    1.825

In [8]:
# Get list of blockcodes
blockgroups = broadband_df['BlockCode']

# code = 270017701001000
# tract = ''
# index = 0
# for num in str(code):
    
#     if index in range(5,11):
#         tract += num
    
#     index += 1
# tract


counties = []

for code in blockgroups:
    counties.append((str(code))[2:5])
    
county_codes = sorted((set(counties)))

In [11]:

### THIS IS THE CODE THAT WORKS
# test = c.acs5.state_county_tract('B19013_001E', states.MN.fips, '001', Census.ALL)
# test


# Run loop on census api
median_income = []

for county in county_codes:
    median_income += c.acs5.state_county_tract('B19013_001E', states.MN.fips, county, Census.ALL)


    
# Convert to DataFrame
median_income = pd.DataFrame([median_income])
median_income.head()


# # Column Reordering
# census_pd = census_pd.rename(columns={"P03_0062E": "Household Income"})


# # Final DataFrame
# census_pd = census_pd[["Household Income",
#                        "Per Capita Income"]]

# # Visualize
# print(len(census_pd))
# census_pd.head()

,0,1,2,3,4,5,6,7,8,9,...,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337
0,"{'B19013_001E': 56406.0, 'state': '27', 'count...","{'B19013_001E': 45846.0, 'state': '27', 'count...","{'B19013_001E': 42461.0, 'state': '27', 'count...","{'B19013_001E': 47366.0, 'state': '27', 'count...","{'B19013_001E': 41750.0, 'state': '27', 'count...","{'B19013_001E': 40764.0, 'state': '27', 'count...","{'B19013_001E': 95565.0, 'state': '27', 'count...","{'B19013_001E': 106793.0, 'state': '27', 'coun...","{'B19013_001E': 102565.0, 'state': '27', 'coun...","{'B19013_001E': 82145.0, 'state': '27', 'count...",...,"{'B19013_001E': 74886.0, 'state': '27', 'count...","{'B19013_001E': 80164.0, 'state': '27', 'count...","{'B19013_001E': 99882.0, 'state': '27', 'count...","{'B19013_001E': 71319.0, 'state': '27', 'count...","{'B19013_001E': 62147.0, 'state': '27', 'count...","{'B19013_001E': 69957.0, 'state': '27', 'count...","{'B19013_001E': 57574.0, 'state': '27', 'count...","{'B19013_001E': 58068.0, 'state': '27', 'count...","{'B19013_001E': 54643.0, 'state': '27', 'count...","{'B19013_001E': 48333.0, 'state': '27', 'count..."