In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Import broadband stats and grad rate data
broadband = pd.read_csv("Resources/mn_broadband_stats.csv")
grad_data = pd.read_csv("Resources/district_grouped_mean.csv")

In [3]:
# Merge on census block
merged_data = pd.merge(broadband, grad_data, on="BLOCK")

# Save to CSV
merged_data.to_csv('Resources/broadband_and_gradrates.csv')
merged_data.head()

,BLOCK,Max Down,Mean Down,Max Up,Mean Up,Four Year Percent,Four Year Total
0,270017701001000,30.0,14.25,3.0,1.825,89,89
1,270017701001001,30.0,14.25,3.0,1.825,89,89
2,270017701001002,30.0,14.25,3.0,1.825,89,89
3,270017701001003,30.0,14.25,3.0,1.825,90,21
4,270017701001004,30.0,14.25,3.0,1.825,89,89

In [9]:
fcc_low_blocks = merged_data.loc[merged_data['Max Down'] < 25, :]
fcc_high_blocks = merged_data.loc[merged_data['Max Down'] >= 25, :]

low_mean_grad_rate = fcc_low_blocks['Four Year Percent'].mean()
high_mean_grad_rate = fcc_high_blocks['Four Year Percent'].mean()
overall_mean = merged_data['Four Year Percent'].mean()

print("Mean grad rate in low speed blocks: " + str(low_mean_grad_rate))
print("Mean grad rate in high speed blocks: " + str(high_mean_grad_rate))
print("Mean grad rate in all blocks: " + str(overall_mean))

Mean grad rate in low speed blocks: 85.86037234042553
Mean grad rate in high speed blocks: 82.48307335208608
Mean grad rate in all blocks: 82.51278461712441