In [1]:
import pandas as pd
import geopandas as gpd

In [3]:
file = 'bdry_school_attendance_areas.gdb'
shp_df = gpd.read_file(file)

In [4]:
shp_df.head()

,Shape_Length,Shape_Area,UNI_TYP,UNI_MAJ,UNI_NAM,ELEM_NAME,MIDD_NAME,HIGH_NAME,geometry
0,26178.487805,1.954316e+07,01,0000,Minneapolis-Saint Paul Intl Airport,,,,(POLYGON ((485953.9400000004 4970757.689999999...
1,274684.806259,2.129586e+09,01,0001,Aitkin,RIPPLESIDE,,AITKIN,"(POLYGON ((470301 5190700, 470698.9540999997 5..."
2,8763.507360,3.653680e+06,03,0001,Minneapolis,ANDERSEN,ANDERSEN & SANFORD,SOUTH,"(POLYGON ((480088.0308999997 4978042.0956, 480..."
3,13747.352019,7.073742e+06,03,0001,Minneapolis,ANNE SULLIVAN,ANNE SULLIVAN & SANFORD,SOUTH,(POLYGON ((480883.4464999996 4980570.381899999...
4,10637.296909,5.191875e+06,03,0001,Minneapolis,BETHUNE,FRANKLIN,NORTH,(POLYGON ((478292.0543999998 4982879.209000001...

In [7]:
shp_df.to_csv('shp_df.csv')